html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
  padding: 0 1.5rem;
  background-color: #0e0e0e;
  background-image: url("./images/katika-logo.png");
  background-repeat: no-repeat;
  align-items: center;
  background-position: center;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.player-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 10;
}
